interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&daily=daylight_duration,sunshine_duration
  response:
    body:
      string: '{"latitude":52.52,"longitude":13.419998,"generationtime_ms":21.285414695739746,"utc_offset_seconds":0,"timezone":"GMT","timezone_abbreviation":"GMT","elevation":38.0,"daily_units":{"time":"iso8601","daylight_duration":"s","sunshine_duration":"s"},"daily":{"time":["2025-09-17","2025-09-18","2025-09-19","2025-09-20","2025-09-21","2025-09-22","2025-09-23"],"daylight_duration":[45132.20,44888.03,44644.26,44401.03,44158.48,43916.72,43675.90],"sunshine_duration":[29070.21,0.00,38625.82,37792.02,35612.63,6064.65,29888.81]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
