interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=48.662587,48.917408,52.505774&longitude=9.00161,11.4061,13.4244&hourly=temperature_2m,shortwave_radiation,direct_radiation,diffuse_radiation,direct_normal_irradiance,global_tilted_irradiance,terrestrial_radiation,cloud_cover,cloud_cover_low,cloud_cover_mid,cloud_cover_high,visibility,precipitation&tilt=35
  response:
    body:
      string: "[{\"latitude\":48.66,\"longitude\":9.0,\"generationtime_ms\":0.845789909362793,\"utc_offset_seconds\":0,\"timezone\":\"GMT\",\"timezone_abbreviation\":\"GMT\",\"elevation\":483.0,\"hourly_units\":{\"time\":\"iso8601\",\"temperature_2m\":\"\xB0C\",\"shortwave_radiation\":\"W/m\xB2\",\"direct_radiation\":\"W/m\xB2\",\"diffuse_radiation\":\"W/m\xB2\",\"direct_normal_irradiance\":\"W/m\xB2\",\"global_tilted_irradiance\":\"W/m\xB2\",\"terrestrial_radiation\":\"W/m\xB2\",\"cloud_cover\":\"%\",\"cloud_cover_low\":\"%\",\"cloud_cover_mid\":\"%\",\"cloud_cover_high\":\"%\",\"visibility\":\"m\",\"precipitation\":\"mm\"},\"hourly\":{\"time\":[\"2025-10-08T00:00\",\"2025-10-08T01:00\",\"2025-10-08T02:00\",\"2025-10-08T03:00\",\"2025-10-08T04:00\",\"2025-10-08T05:00\",\"2025-10-08T06:00\",\"2025-10-08T07:00\",\"2025-10-08T08:00\",\"2025-10-08T09:00\",\"2025-10-08T10:00\",\"2025-10-08T11:00\",\"2025-10-08T12:00\",\"2025-10-08T13:00\",\"2025-10-08T14:00\",\"2025-10-08T15:00\",\"2025-10-08T16:00\",\"2025-10-08T17:00\",\"2025-10-08T18:00\",\"2025-10-08T19:00\",\"2025-10-08T20:00\",\"2025-10-08T21:00\",\"2025-10-08T22:00\",\"2025[...]
