interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&hourly=temperature_2m,shortwave_radiation,direct_radiation,diffuse_radiation,direct_normal_irradiance,global_tilted_irradiance,terrestrial_radiation,wind_speed_10m,wind_speed_80m,wind_speed_120m,cloud_cover,cloud_cover_low,cloud_cover_mid,cloud_cover_high,visibility,precipitation&tilt=35
  response:
    body:
      string: "{\"latitude\":52.52,\"longitude\":13.419998,\"generationtime_ms\":1.2379884719848633,\"utc_offset_seconds\":0,\"timezone\":\"GMT\",\"timezone_abbreviation\":\"GMT\",\"elevation\":38.0,\"hourly_units\":{\"time\":\"iso8601\",\"temperature_2m\":\"\xB0C\",\"shortwave_radiation\":\"W/m\xB2\",\"direct_radiation\":\"W/m\xB2\",\"diffuse_radiation\":\"W/m\xB2\",\"direct_normal_irradiance\":\"W/m\xB2\",\"global_tilted_irradiance\":\"W/m\xB2\",\"terrestrial_radiation\":\"W/m\xB2\",\"wind_speed_10m\":\"km/h\",\"wind_speed_80m\":\"km/h\",\"wind_speed_120m\":\"km/h\",\"cloud_cover\":\"%\",\"cloud_cover_low\":\"%\",\"cloud_cover_mid\":\"%\",\"cloud_cover_high\":\"%\",\"visibility\":\"m\",\"precipitation\":\"mm\"},\"hourly\":{\"time\":[\"2025-11-26T00:00\",\"2025-11-26T01:00\",\"2025-11-26T02:00\",\"2025-11-26T03:00\",\"2025-11-26T04:00\",\"2025-11-26T05:00\",\"2025-11-26T06:00\",\"2025-11-26T07:00\",\"2025-11-26T08:00\",\"2025-11-26T09:00\",\"2025-11-26T10:00\",\"2025-11-26T11:00\",\"2025-11-26T12:00\",\"2025-11-26T13:00\",\"2025-11-26T14:00\",\"2025-11-26T15:00\",\"2025-11-26T16:00\",\"2025-11-26T17:00\",\"2025-11-26T18:00\",\"2025-11-26T19:00\",\"2025-11-26T20:00\",\"2025-11-26T21:00\",\"2025-11-26T22:00\",\"2025[...]
