interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://historical-forecast-api.open-meteo.com/v1/forecast?latitude=48.662587,48.917408,52.505774&longitude=9.00161,11.4061,13.4244&start_date=2023-01-01&end_date=2023-01-10&hourly=temperature_2m,shortwave_radiation,direct_radiation,diffuse_radiation,direct_normal_irradiance,global_tilted_irradiance,terrestrial_radiation,wind_speed_10m,wind_speed_80m,wind_speed_120m,cloud_cover,cloud_cover_low,cloud_cover_mid,cloud_cover_high,visibility,precipitation&tilt=35
  response:
    body:
      string: "[{\"latitude\":48.66,\"longitude\":9.0,\"generationtime_ms\":0.9970664978027344,\"utc_offset_seconds\":0,\"timezone\":\"GMT\",\"timezone_abbreviation\":\"GMT\",\"elevation\":483.0,\"hourly_units\":{\"time\":\"iso8601\",\"temperature_2m\":\"\xB0C\",\"shortwave_radiation\":\"W/m\xB2\",\"direct_radiation\":\"W/m\xB2\",\"diffuse_radiation\":\"W/m\xB2\",\"direct_normal_irradiance\":\"W/m\xB2\",\"global_tilted_irradiance\":\"W/m\xB2\",\"terrestrial_radiation\":\"W/m\xB2\",\"wind_speed_10m\":\"km/h\",\"wind_speed_80m\":\"km/h\",\"wind_speed_120m\":\"km/h\",\"cloud_cover\":\"%\",\"cloud_cover_low\":\"%\",\"cloud_cover_mid\":\"%\",\"cloud_cover_high\":\"%\",\"visibility\":\"m\",\"precipitation\":\"mm\"},\"hourly\":{\"time\":[\"2023-01-01T00:00\",\"2023-01-01T01:00\",\"2023-01-01T02:00\",\"2023-01-01T03:00\",\"2023-01-01T04:00\",\"2023-01-01T05:00\",\"2023-01-01T06:00\",\"2023-01-01T07:00\",\"2023-01-01T08:00\",\"2023-01-01T09:00\",\"2023-01-01T10:00\",\"2023-01-01T11:00\",\"2023-01-01T12:00\",\"2023-01-01T13:00\",\"2023-01-01T14:00\",\"2023-01-01T15:00\",\"2023-01-01T16:00\",\"2023-01-01T17:00\",\"2023-01-01T18:00\",\"2023-01-01T19:00\",\"2023-01-01T20:00\",\"2023-01-01T21:00\",\"2023-01-01T22:00\",\"2023[...]
