interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://energy-charts.info/charts/price_spot_market/data/de/week_2024_01.json
  response:
    body:
      string: "[\r\n {\r\n  \"name\": {\"en\": \"Hydro pumped storage consumption\",\"de\":
        \"Pumpspeicher Verbrauch\",\"fr\": \"Hydraulique STEP consommation\",\"it\":
        \"Stoccaggio idro-pompato consumo\",\"es\": \"Consumo de almacenamiento por
        bombeo\"},\r\n  \"color\": \"rgb(50,50,150)\",\r\n  \"visible\": false,\r\n
        \ \"showInLegend\": true,\r\n  \"showInNavigator\": false,\r\n  \"allowCsvDownloadForItem\":
        true,\r\n  \"yAxis\": 0,\r\n  \"data\": [-2023.2550003875353,-2524.032500483455,-3051.375000584462,-3092.9650005924286,-3280.2675006283043,-3461.592500663035,-3658.252500700704,-2841.0050005441676,-2773.647500531266,-3690.0800007068,-3810.7300007299095,-3402.702500651756,-2930.997500561405,-2781.022500532679,-1098.905000210485,-503.3950000964205,-126.02250002413842,-11.572500002216604,-9.135000001749724,-38.172500007311584,-90.22250001728128,-172.6725000330738,-857.087500164167,-1701.6825003259414,-1652.945000316606,-2330.40000044636[...]
